<form class="{{cssClass}}" autocomplete="off">
    <div class="headquarter grid grid-2col-250px-1fr">
        <div class="header flex-row">
            <div class="flex-col margin align-center">
                <div class="flex column heavy-border portrait">
                    <div class="name" style="width: 98%;">
                        
                        <input name="name" type="text" value="{{actor.name}}"/>
                    </div>
                    <div class="img-frame">
                        <img class="profile-frame" src="systems/vaesen/asset/token_border.png" />
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                    </div>  
                    <div class="building">
                        
                        <input name="data.bio.building" type="text" value="{{data.system.bio.building}}" style="width: 97%;"/>
                        <b>{{localize "BIO.BUILDING"}}</b>
                    </div>
                    
                </div> 
                <div class="flex column second">
                    <div class="heavy-border flex column">
                    <div class="location">
                       
                        <input name="data.bio.location" type="text" value="{{data.system.bio.location}}"/>
                        <b>{{localize "BIO.LOCATION"}}</b>
                    </div>
                    <div class="point">
                        
                        <input name="data.bio.point" type="text" value="{{data.system.bio.point}}" data-dtype="Number"/>
                        <b>{{localize "BIO.POINTS"}}</b>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
        
        <div class="flex column">
            <div class="sheet-tabs tabs flex row" data-group="primary">
                <b class="item" data-tab="upgrades">{{localize "TAB.UPGRADES"}}</b>
                <b class="item" data-tab="history">{{localize "TAB.NOTES"}}</b>
                
            </div>

            <div class="sheet-body flex row">
                <div class="tab upgrades" data-group="primary" data-tab="upgrades">
                    {{> systems/vaesen/model/tab/headquarter-upgrades.hbs}}
                </div>
                <div class="tab history" data-group="primary" data-tab="history">
                    {{> systems/vaesen/model/tab/headquarter-history.hbs}}
                </div>
                
                
            </div>
        </div>
    </div>
</form>