<form class="{{cssClass}}" autocomplete="off">
    <div class="player flex column">
        <div class="header flex row margin align-center">
				<div class="flex column heavy-border portrait">
					
					<div class="name">
							<input name="name" type="text" value="{{actor.name}}" style="width: 97%; height: auto;"/>
					</div>
				    
					{{#if (eq portrait "round")}} 
					<div class="img-frame" style="width: 175px; height: 175px;">
						<img class="profile-frame" src="systems/vaesen/asset/token_border.png" />
						<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
					</div>
					{{/if}}
					{{#if (eq portrait "portrait")}} 
					<div class="img-frame" style="width: 115px; height: 170px; margin-top: 3px;">
						<img class="profile-frame" src="systems/vaesen/asset/token_border_portrait.png" />
						<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="border-radius: 2px; margin-left: 3px; margin-top: 3px; padding: 0px; height: 166px; width: 109px;""/>
					</div>
					{{/if}}
					{{#if (eq portrait "landscape")}} 
					<div class="img-frame" style="width: 175px; height: 117px;">
						<img class="profile-frame" src="systems/vaesen/asset/token_border_landscape.png" />
						<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="border-radius: 2px; margin-left: 4px; margin-top: 4px; padding: 0px; width: 167px; height: 109px;"/>
					</div>
					{{/if}}

					<div class="archetype">  
							<input name="system.bio.archetype" type="text" value="{{system.bio.archetype}}" style="width: 97%;"/>
							<b>{{localize "BIO.ARCHETYPE"}}</b>
					</div>
				</div>
				<div class="flex column second">
					<div class="logo flex row">
						{{#if swag}}
						<img src="systems/vaesen/asset/sheet_header.png">
						{{/if}}
						{{#unless swag}}
						<img src="systems/vaesen/asset/sheet_header_b.png">
						{{/unless}}
					</div>
					<div class="flex row">
						<div class="flex column res heavy-border" style="margin-left: 5px">
							
							<div class="resources">
								<input name="system.resources" type="text" value="{{system.resources}}" data-dtype="Number"/>
								<b>{{localize "RESOURCES"}}</b>
							</div>
							<div class="capital">
								<input name="system.capital" type="text" value="{{system.capital}}" data-dtype="Number"/>
								<b>{{localize "CAPITAL"}}</b>
							</div>
							
							<div class="age">
								<input name="system.bio.age" type="text" value="{{system.bio.age}}"/>
								<b>{{localize "BIO.AGE"}}</b>
							</div>
							<div class="experience">
								<input name="system.experience" type="text" value="{{system.experience}}" data-dtype="Number"/>
								<b>{{localize "EXPERIENCE"}}</b>
							</div>
						</div>
				
						<div class="flex column bio heavy-border">
							
							<div class="flex row grow wrap margin">
								<div class="motivation">
									
									<input name="system.bio.motivation" type="text" value="{{system.bio.motivation}}"/>
									<b>{{localize "BIO.MOTIVATION"}}</b>
								</div>
								<div class="trauma">
									
									<input name="system.bio.trauma" type="text" value="{{system.bio.trauma}}"/>
									<b>{{localize "BIO.TRAUMA"}}</b>
								</div>
							
							
								<div class="dark-secret">
									
									<input name="system.bio.darkSecret" type="text" value="{{system.bio.darkSecret}}"/>
									<b>{{localize "BIO.DARK_SECRET"}}</b>
								</div>
							
								<div class="advantage">
									
									<input name="system.advantage" type="text" value="{{system.advantage}}"/>
									<b>{{localize "ADVANTAGE"}}</b>
								</div>
								<div class="memento">
									
									<input name="system.memento" type="text" value="{{system.memento}}"/>
									<b>{{localize "MEMENTO"}}</b>
								</div>
							</div>
						</div>
					</div>
				
				</div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="main">{{localize "TAB.MAIN"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="talent">{{localize "TAB.TALENT"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
            <b class="item" data-tab="note">{{localize "TAB.NOTE"}}</b>
			<b class="item" data-tab="changelog">{{localize "TAB.LOG"}}</b>
        </div>

        <div class="sheet-body flex row">
            <div class="tab" data-group="primary" data-tab="main">
                {{> systems/vaesen/model/tab/player-main.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/vaesen/model/tab/player-combat.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="talent">
                {{> systems/vaesen/model/tab/player-talent.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/vaesen/model/tab/player-gear.hbs}}
            </div>
            <div class="tab note" data-group="primary" data-tab="note">
                {{> systems/vaesen/model/tab/player-note.hbs}}
            </div>
			<div class="tab changelog" data-group="primary" data-tab="changelog">
                {{> systems/vaesen/model/tab/player-changelog.hbs}}
            </div>
        </div>
    </div>
</form>