<form class="{{cssClass}} flex-col color-brown-700 bg-offwhite " autocomplete="off">
  <div class="flex-row flex-start">

    <div class="dl-border w-fc h-100">
      <img
        class="w-100p border-none br-5"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "ARMOR.NAME"}}</h1>
        <br /><img
          class="border-none center w-90"
          src="systems/vaesen/asset/h-rule.png"
        />

      </div>
      <div class="grid grid-3col-fr center gap-sm h-100">
        <div class="grid-span-3 flex-row align-items-center">
          <h3>{{localize "DESCRIPTION"}}:&nbsp;</h3>
          <div class="w-100"><input
              class="light"
              name="name"
              type="text"
              value="{{item.name}}"
            /></div>
        </div>

        <div class="flex-col center">
          <b>{{localize "ARMOR.PROTECTION"}}:&nbsp;</b>
          <input
            class="light"
            name="system.protection"
            type="text"
            value="{{data.system.protection}}"
          />
        </div>
        <div class="flex-col center">
          <b>{{localize "ARMOR.AGILITY"}}</b>
          <input
            class="light"
            name="system.agility"
            type="text"
            value="{{data.system.agility}}"
          />
        </div>
        <div class="flex-col center">
          <b>{{localize "ARMOR.AVAILABILITY"}}</b>
          <input
            class="light"
            name="system.availability"
            type="text"
            value="{{data.system.availability}}"
          />
        </div>

      </div>
    </div>
  </div>
</form>