<form class="{{cssClass}} flex-col color-brown-700" autocomplete="off">
  {{! Item Sheet Header }}
  <div class="bg-offwhite flex-row flex-start">
    <div class="dl-border w-fc h-100">
      <img
        class="w-100p border-none br-5"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "ATTACK.NAME"}}</h1>
        <br /><img
          class="border-none center w-90"
          src="systems/vaesen/asset/h-rule.png"
        />
      </div>

      <div class="grid grid-6col-fr center gap-sm h-100">
        <div class="grid-span-4 grid-align-end">
          <input class="light" name="name" type="text" value="{{item.name}}" />
        </div>

        <div class="flex-col grid-span-2">
          <b>{{localize "ATTACK.ATTRIBUTE"}}</b>
          <select name="system.attribute" id="attribute">
            {{selectOptions config.attackAttributeOptions selected=data.system.attribute localize=true}}
          </select>
        </div>

        <div class="flex-col center grid-span-3">
          <b>{{localize "ATTACK.DAMAGE"}}</b>
          <input
            class="light"
            name="system.damage"
            type="text"
            value="{{data.system.damage}}"
          />
        </div>
        <div class="flex-col center grid-span-3">
          <b>{{localize "ATTACK.RANGE"}}</b>
          <input
            class="light"
            name="system.range"
            type="text"
            value="{{data.system.range}}"
          />
        </div>

        <div class="grid-span-6">
          <b>{{localize "ATTACK.DESCRIPTION"}}</b>
          <textarea name="system.description">{{data.system.description}}</textarea>
        </div>
      </div>
    </div>
  </div>
</form>