<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}} 
    <div class="item-sheet flexrow">
        <div class="item-sidebar">
            <img class="icon" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>   

        <div class="item-info">
            <h1 class="us-text">{{localize "ATTACK.NAME"}}</h1>
            <br /><img src="systems/vaesen/asset/h-rule.png" width="90%" />  
            
            <div class="flex row">
                <div class="header-details flexcol" style="flex-basis: 75%;">
                    <span class = "charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </span>
                </div>
                <div class="item-desc flexcol" style="flex-basis: 25%; margin: 3px;">
                    <b>{{localize "ATTACK.ATTRIBUTE"}}</b>
                    <select name="data.attribute">
                        {{#select data.data.attribute}}
                            <option value="might">{{localize "ATTRIBUTE.MIGHT_ROLL"}}</option>
                            <option value="bodyControl">{{localize "ATTRIBUTE.BODY_CONTROL_ROLL"}}</option>
                            <option value="magic">{{localize "ATTRIBUTE.MAGIC_ROLL"}}</option>
                            <option value="manipulation">{{localize "ATTRIBUTE.MANIPULATION_ROLL"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="flex row">
                <div class="damage flex row wrap center">
                <b>{{localize "ATTACK.DAMAGE"}}</b>
                <input name="data.damage" type="text" value="{{data.data.damage}}"/>
                </div>
                <div class="range flex row wrap center">
                    <b>{{localize "ATTACK.RANGE"}}</b>
                    <input name="data.range" type="text" value="{{data.data.range}}"/>
                </div>
            </div>
            <div class="item-notes">
                <b>{{localize "ATTACK.DESCRIPTION"}}</b>
                <textarea name="data.description">{{data.data.description}}</textarea>
            </div>
        </div>
    </div>
</form>