<form class="{{cssClass}} flex-col color-brown-700" autocomplete="off">
  {{! Item Sheet Header }}
  <div class="bg-offwhite flex-row flex-start">
    <div class="dl-border w-fc h-100">
      <img
        class="w-100p border-none br-5"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "CONDITION.NAME"}}</h1>
        <br /><img
          class="border-none center w-90"
          src="systems/vaesen/asset/h-rule.png"
        />

      </div>
      <div class="grid grid-2col-fr gap-sm">
        <div class="flex-col center">
          <span class="charname">
            <b>{{localize "NAME"}}</b>
            <input
              class="light"
              name="name"
              type="text"
              value="{{item.name}}"
            />
          </span>
        </div>

        <div class="flex-col center">
          <b>{{localize "CONDITION.BONUS"}}</b>
          <input
            class="light"
            name="data.bonus"
            type="text"
            value="{{data.data.bonus}}"
          />
        </div>

        <div class="grid-span-2">
          <b>{{localize "CONDITION.DESCRIPTION"}}</b>
          <textarea name="data.description">{{data.data.description}}</textarea>
        </div>
      </div>
    </div>
  </div>
</form>