<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="gear item-sheet flexrow">
        <div class="item-sidebar">
           <img class="icon" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </div>   
        <div class="item-info">

            <div class="flex column wrap">
                <h1 style="text-align: center;">{{localize "GEAR.NAME"}}</h1>
                <br /><img src="systems/vaesen/asset/h-rule.png" width="90%" />   
            </div>
            <div class="name flex row wrap" style="width: 99%;">
                <h3>{{localize "NAME"}}:&nbsp;</h3>
                <input name="name" type="text" value="{{item.name}}"/>
            </div>
            <div class="bonus flex row wrap center" style="width: 99%;">
                <b>{{localize "GEAR.BONUS"}}</b>
                <input name="data.bonus" type="text" value="{{data.data.bonus}}"/>
            </div>
            <div class="availability flex row wrap center" style="width: 99%;">
                <b>{{localize "GEAR.AVAILABILITY"}}</b>
                <input name="data.availability" type="text" value="{{data.data.availability}}"/>
            </div>
            <div class="effect flex row wrap" style="width: 99%;">
                <b>{{localize "GEAR.EFFECT"}}</b>
                <input name="data.effect" type="text" value="{{data.data.effect}}"/>
            </div>
            <div class="description flex row wrap" style="width: 99%;">
                <b>{{localize "GEAR.DESCRIPTION"}}</b>
                <textarea name="data.description">{{data.data.description}}</textarea>
            </div><div class="risk flex row wrap" style="width: 99%;">
            <b>{{localize "GEAR.RISK"}}</b>
            <textarea name="data.risk">{{data.data.risk}}</textarea>
            </div>
        </div>
    </div>
</form>

