<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="magic item-sheet flexrow">

        <div class="item-sidebar">
           <img class="icon" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </div>  


       <div class="item-info">
        <div class="name flex column wrap">
            <h1>{{localize "MAGIC.NAME"}}</h1>
            <br /><img src="systems/vaesen/asset/h-rule.png" width="90%" />  
        </div>
        <div class="category flex row wrap center">
            <h3>{{localize "NAME"}}:&nbsp;</h3>
            <input name="name" type="text" value="{{item.name}}" style="width: 55%; margin-right:5px;"/>
            <b>{{localize "MAGIC.CATEGORY"}}</b>
            <select name="system.category">
                {{#select data.system.category}}
                    <option value="power">{{localize "MAGIC.POWER"}}</option>
                    <option value="enchantment">{{localize "MAGIC.ENCHANTMENT"}}</option>
                    <option value="curse">{{localize "MAGIC.CURSE"}}</option>
                    <option value="trollcraft">{{localize "MAGIC.TROLLCRAFT"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="description flex row wrap">
            <b>{{localize "MAGIC.DESCRIPTION"}}</b>
            <textarea name="system.description">{{data.system.description}}</textarea>
        </div>
        </div>
    </div>
</form>