<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="bg-offwhite flex-row flex-start">

    <div class="dl-border w-fc h-100">
      <img class="w-100p border-none br-5" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "MAGIC.NAME"}}</h1>
        <br /><img src="systems/vaesen/asset/h-rule.png" class="border-none center w-90" />
      </div>

      <div class="grid grid-2col-fr center gap-sm h-100">
        <div class="grid-align-end">
          <h3>{{localize "NAME"}}:&nbsp;</h3>
          <input class="light" name="name" type="text" value="{{item.name}}" />
        </div>
        <div class="grid-align-end">
          <h3>{{localize "MAGIC.CATEGORY"}}</h3>
          <select name="system.category">
            {{selectOptions config.magicCategoryOptions selected=data.system.category localize=true}}
          </select>
        </div>
        <div class="grid-span-2 grid-align-end">
          <b>{{localize "MAGIC.DESCRIPTION"}}</b>
          <textarea name="system.description">{{data.system.description}}</textarea>
        </div>

      </div>
    </div>
  </div>
</form>