<form class="{{cssClass}} flexcol" autocomplete="off">
  {{! Item Sheet Header }}
  <div class="bg-offwhite flex-row flex-start">
    <div class="dl-border w-fc h-100">
      <img
        class="w-100p border-none br-5"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "TALENT.NAME"}}</h1>
        <br /><img
          src="systems/vaesen/asset/h-rule.png"
          class="border-none center w-90"
        />
      </div>
      <div class="grid grid-6col-fr center gap-sm h-100">
        <div class="grid-span-3">
          <div class="grid-align-end" style="margin-bottom: 5px;">
            <b>{{localize "NAME"}}:</b>
            <span >
              <input
                  class="light"
                name="name"
                type="text"
                value="{{item.name}}"
                style="width: 99%;"
              />
            </span>
          </div>
          <div class="grid-align-end" style="margin-bottom: 5px;">
            <b>{{localize "BONUS_TYPE.HEADER"}}</b>
            <select name="system.bonusType" style="margin-top:3px; width: 100%;">
               {{selectOptions config.bonusType selected=data.system.bonusType localize=true}}
            </select>
          </div>
          {{#ifIn data.system.bonusType config.bonusTypeRequiresBonus}}
          <div class="grid-align-end" style="margin-bottom: 5px;">
            <b>{{localize "TALENT.BONUS"}}:</b>
            <input
              class="light"
              name="system.bonus"
              type="text"
              value="{{data.system.bonus}}"
            />
          </div>
          {{/ifIn}}
          {{#ifIn data.system.bonusType config.bonusTypeRequiresSkill}}
          <div class="grid-align-end">
            <b>{{localize "TALENT.SKILL"}}</b>
            <select name="system.skill" multiple style="height:125px;width: 100%;">
              
              {{#if (eq data.system.bonusType "damage")}}
                 {{selectOptions config.bonusTypeDamageSkillsOptions selected=data.system.skill localize=true}}
              {{else}}
               {{selectOptions config.skills selected=data.system.skill localize=true}}
              {{/if}}
              
            </select>
          </div>
          {{/ifIn}}
        </div>
        <div class="grid-span-3">
          <b>{{localize "TALENT.DESCRIPTION"}}</b>
          <textarea
            name="system.description" rows="8"
          >{{data.system.description}}</textarea>
        </div>
      </div>
    </div>
  </div>
</form>