<form class="{{cssClass}} flexcol" autocomplete="off">
  {{! Item Sheet Header }}
  <div class="bg-offwhite flex-row flex-start">
    <div class="dl-border w-fc h-100">
      <img
        class="w-100p border-none br-5"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "TALENT.NAME"}}</h1>
        <br /><img
          src="systems/vaesen/asset/h-rule.png"
          class="border-none center w-90"
        />
      </div>
      <div class="grid grid-5col-fr center gap-sm h-100">
        <div class="grid-span-4 grid-align-end">
          <b>{{localize "NAME"}}:</b>
          <span >
            <input
                class="light"
              name="name"
              type="text"
              value="{{item.name}}"
              style="width: 99%;"
            />
          </span>
        </div>

        <div class="grid-align-end">
          <b>{{localize "TALENT.BONUS"}}:</b>
          <input
            class="light"
            name="system.bonus"
            type="text"
            value="{{data.system.bonus}}"
          />
        </div>
        <div class="grid-span-4">
          <b>{{localize "TALENT.DESCRIPTION"}}</b>
          <textarea
            name="system.description" rows="7"
          >{{data.system.description}}</textarea>
        </div>
        <div class="grid-align-start">
          <b>{{localize "TALENT.SKILL"}}</b>
          <select name="system.skill" multiple style="height:125px;">
            {{#select data.system.skill}}
            {{#each config.skills as |skill|}}
            <option value="{{skill}}" {{#ifIn skill ../data.system.skill}}selected{{/ifIn}}>{{localize skill}}
            </option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </div>
</form>