<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="bg-offwhite flex-row flex-start">
    <div class="dl-border w-fc h-100">
      <img
        class="w-100p border-none br-5"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />
    </div>

    <div class="w-100 padding-sm">

      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "WEAPON.NAME"}}</h1>
        <br /><img
          src="systems/vaesen/asset/h-rule.png"
          class="border-none center w-90"
        />

      </div>

      <div class="grid grid-4col-fr  center gap-sm h-100">
       
          <h3>{{localize "TYPE"}}:&nbsp;</h3>
          <input
            class="light"
            name="name"
            type="text"
            value="{{item.name}}"
            
          />
          <h3>{{localize "WEAPON.SKILL"}}: &nbsp;</h3>
          <select name="system.skill">
            {{#select data.system.skill}}
              <option value="force">{{localize "SKILL.FORCE"}}</option>
              <option value="closeCombat">{{localize
                  "SKILL.CLOSE_COMBAT"
                }}</option>
              <option value="rangedCombat">{{localize
                  "SKILL.RANGED_COMBAT"
                }}</option>
            {{/select}}
          </select>
       

        
          <h3>{{localize "WEAPON.DAMAGE"}}</h3>
          <input
            class="light"
            name="system.damage"
            type="text"
            value="{{data.system.damage}}"
          />
        

        
          <h3>{{localize "WEAPON.RANGE"}}</h3>
          <input
            class="light"
            name="system.range"
            type="text"
            value="{{data.system.range}}"
          />
        

       
          <h3>{{localize "WEAPON.BONUS"}}</h3>
          <input
            class="light"
            name="system.bonus"
            type="text"
            value="{{data.system.bonus}}"
          />
        

        
          <h3>{{localize "WEAPON.AVAILABILITY"}}</h3>
          <input
            class="light"
            name="system.availability"
            type="text"
            value="{{data.system.availability}}"
          />
        

      </div>
    </div>
  </div>
</form>