<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="weapon item-sheet flexrow">
        <div class="item-sidebar">
        <img class="icon" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </div>
        <div class="item-info">

            <div class="flex column wrap">
                <h1 style="text-align: center;">{{localize "WEAPON.NAME"}}</h1>
                <br /><img src="systems/vaesen/asset/h-rule.png" width="90%" style="margin-bottom: 5px;"/>   
                
            </div>
            
            <div class="skill flex row wrap center">
                <h3>{{localize "TYPE"}}:&nbsp;</h3>
                <input name="name" type="text" value="{{item.name}}" style="width: 56%; margin-right:5px;"/>
                <h3>{{localize "WEAPON.SKILL"}}: &nbsp;</h3>
                <select name="system.skill">
                    {{#select data.system.skill}}
                        <option value="force">{{localize "SKILL.FORCE"}}</option>
                        <option value="closeCombat">{{localize "SKILL.CLOSE_COMBAT"}}</option>
                        <option value="rangedCombat">{{localize "SKILL.RANGED_COMBAT"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="damage flex row wrap center" style="width: 99%;">
                <b>{{localize "WEAPON.DAMAGE"}}</b>
                <input name="system.damage" type="text" value="{{data.system.damage}}"/>
            </div>
            <div class="range flex row wrap center" style="width: 99%;">
                <b>{{localize "WEAPON.RANGE"}}</b>
                <input name="system.range" type="text" value="{{data.system.range}}"/>
            </div>
            <div class="bonus flex row wrap center" style="width: 99%;">
                <b>{{localize "WEAPON.BONUS"}}</b>
                <input name="system.bonus" type="text" value="{{data.system.bonus}}"/>
            </div>
            <div class="availability flex row wrap center" style="width: 99%;">
                <b>{{localize "WEAPON.AVAILABILITY"}}</b>
                <input name="system.availability" type="text" value="{{data.system.availability}}"/>
            </div>
        </div>
    </div>
</form>