
<div class="card-holder" style="position: relative;">

 {{#if roll.token}} 
<img src="{{roll.token}}" width="45" height="45" class="roll-token" />
{{/if}}
{{#unless roll.token}}
<img src="systems/vaesen/asset/unkown_roller.svg" width="45" height="45" class="roll-token" />
{{/unless}}
<div class="vaesen chat-card" data-owner-id="{{roll.owner}}">

  <div class="card-content borderimg">
    <div class="dice-roll">
      
      
      {{#if flavor}}
      <div class="dice-flavor">{{flavor}}</div>
      {{/if}}
      <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}

        {{#if (gt success 0)}}
        <h4 class="dice-total success">{{localize "CHAT.SUCCESS"}} : {{success}}</h4>
        {{/if}}
        {{#if (eq success 0)}}
        <h4 class="dice-total failure"> {{localize "CHAT.SUCCESS"}} : {{success}}</h4>
        {{/if}}
      </div>
    </div>
    {{!-- Extra info added for Year Zero rolls --}}
    {{#if showInfos}}
    {{{infos}}}
    {{/if}}
    {{!-- Push button --}}
    {{#if pushable}}
    <div class="dice-buttons" data-owner-id="{{roll.owner}}">
      <button class="dice-button push" data-action="push" data-owner-id="{{roll.owner}}">{{localize "YZUR.CHAT.ROLL.Push"}}</button>
    </div>
    {{/if}}
  </div>
</div>
</div>